.custom__select {
    > div {
        padding: 10px 32px 10px 10px;
        width: 120px;
    }
}

.addvance__search {
    min-width: 260px;
    width: 23%;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    
    .list__checkbox {
        margin: 0;
        padding: 0;
        > div {
            margin: 0;
            padding: 0;
            span {
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 16px !important;
            }
        }
    }
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 23%);
    padding: 16px 24px;
}

.product  {
    .img {
        width: 300px;
    }
}
